# Target System
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_beeconmini_seed-ac2=y

# Image Configuration
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_IMAGE_TYPE=squashfs
CONFIG_JSON_OVERVIEW_IMAGE_INFO=y

# Kernel Modules
CONFIG_PACKAGE_kmod-ipt-offload=y
CONFIG_PACKAGE_kmod-mt7981-firmware=y
CONFIG_PACKAGE_kmod-switch-rtl8373=y
CONFIG_PACKAGE_kmod-mediatek_hnat=y
CONFIG_PACKAGE_kmod-fs-f2fs=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-zram=y
CONFIG_PACKAGE_kmod-tcp-bbr=y

# Base Packages
CONFIG_PACKAGE_blockd=y
CONFIG_PACKAGE_swconfig=y
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_iwinfo=y
CONFIG_PACKAGE_mkf2fs=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_resolveip=y

# Utilities
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_ca-certificates=y

# Firewall
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_iptables-mod-filter=y

# Libraries
CONFIG_PACKAGE_libatomic=y
CONFIG_PACKAGE_libblkid=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libopenssl-devcrypto=y

# Toolchain
CONFIG_TOOLCHAINOPTS=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_PKG_FORTIFY_SOURCE_2=y

# Disable to save space
# CONFIG_PACKAGE_TURBOACC_INCLUDE_FLOW_OFFLOADING is not set
CONFIG_PACKAGE_TURBOACC_INCLUDE_NO_FASTPATH=y